<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>profile</title>
    </head>

    <body>
        <h3>欢迎 用户 {{ .Username }}，您的昵称为 {{ .Nickname }}</h3>
        <h3>您可以修改昵称和上传用户图片</h3>
        <form action="/api/user/edit" method="post" novalidate autocomplete="off">
            <div>
                <label for="nickname">新昵称：</label>
                <input type="text" name="nickname" id="nickname" >
            </div>
            <div>
                <input type="submit" value="提交">
            </div>
        </form>

        <form action="/api/file/upload" method="post" enctype="multipart/form-data">
            <div>
                <input type="file" name="file">
            </div>
            <div>
                <input type="submit" value="上传图片">
            </div>
        </form>
    </body>